/* Page-level styling for LoginPage component */
.login-page-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('background.jpg'); /* Add a background image */
    background-size: cover;
    background-position: center;
  }
  
  .login-page-content {
    backdrop-filter: blur(8px);
    background: rgba(255, 255, 255, 0.8);
    padding: 50px;
    border-radius: 12px;
  }